* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: yellow;
    padding: 0 10%;
    border-bottom: 1px solid black;
    height: 100px;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul {
    display: flex;
}

.nav-container ul li {
    list-style: none;
    margin: 0 20px;
}

.nav-container ul li a {
    color: black;
    text-decoration: none;
    transition-property: border-bottom, padding-bottom;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-container ul li a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

/* Header section */

header {
    background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),url(images/cover.png);;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding: 0 10%;
}

header .title {
    position: relative;
    top: 40%;
    text-align: center;
}


header .title h1 {
    color: white;
    letter-spacing: 1.5px;
    position: relative;
    font-size: 3rem;
    margin-bottom: 20px;
    animation-name: content;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .title p {
    color: white;
    letter-spacing: 1px;
    position: relative;
    line-height: 1.6;
    animation-name: content;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes content {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
    }
}

/* Branches section*/

section {
    background-color: yellow;
    padding: 0 10%;
    padding-top: 5%;
    padding-bottom: 100px;
    height: auto;
    
}

.content h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.store {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.store img {
    width: 100%;
    box-shadow: 0px 0px 15px 1px; 
}

.store h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}

.store p {
    text-align: justify;
    line-height: 1.5;
}

hr {
    margin: 100px 0;
    border: 1px solid black;
}

/* Products section*/

.menu {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30%;
    grid-row-gap: 100px;
    justify-content: center;
}

.menu img {
    width: 100%;
}

.menu h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.menu p {
    font-size: 1.3rem;
}

.menu button {
    background-color: black;
    cursor: pointer;
    color: white;
    margin: 10px 0;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 25px;
    transition-property: background-color, color, border;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu button:hover {
    background-color: transparent;
    color: black;
}

/* Footer section */

footer {
    padding: 5%;
    background-color: black;
    color: white;
    height: auto;
}

.container h3 {
    margin-bottom: 20px;
}
.container ul li {
    list-style-type: none;
    margin: 20px 0;
}

.container ul li a {
    text-decoration: none;
    color: white;
    transition-property: border-bottom, padding-bottom;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.socials img {
    margin-right: 10px;
}

footer .credits {
    font-size: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

footer .container ul li a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}

@media (max-width: 800px) {
    nav {
        padding: 0 5%;
    }

    .store {
        display: grid;
        grid-template-columns: 350px;
        place-content: center;
    }

    .menu {
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
    }

    .menu div h3, p {
        text-align: center;
    }

    .menu button {
        margin: 10px 30%;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

}